.container {
  padding-top: 10em;
  padding-bottom: 5rem;
}

.bar {
  background-color: $primary-hex;
  height: 25px;
  color: white;
  margin: 1em;
  padding-right: 5px;
  text-align: right;
  border-radius: 8.5%;
}

.upBtn {
  border-radius: 30%;
}

.downBtn{
  border-radius: 30%;
}

.confirmBtn {
  border-radius: 10%;
  margin-bottom: 1em;
}

.errText {
  color: red;
}
