.app-header{
  width: 100%;
  background-color: $primary-hex;
  color: white;
  position: fixed;
  z-index: 3;
}

.app-header h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media(max-width: 500px){

  .app-header {
    position: absolute;
  }
}
