.container {
  padding-top: 10em;
  padding-bottom: 5rem;
}

.bar {
  background-color: $primary-hex;
  height: 25px;
  color: white;
  margin: 1em;
  padding-right: 5px;
  text-align: right;
  border-radius: 8.5%;
}

.upBtn {
  border-radius: 30%;
  margin: 0.1em;
}

.downBtn{
  border-radius: 30%;
  margin: 0.1em;
}

.smUpBtn{
  border-radius: 30%;
  margin: 0.1em;
}

.smDownBtn {
  border-radius: 30%;
  margin: 0.1em;
}

.total {
  display: block;
  color: $primary-hex;
  font-size: 1.5em;
  text-align: center;
}

.confirmBtn {
  border-radius: 10%;
  margin-bottom: 1em;
}

.errText {
  color: red;
}

.nextBtn {
  float: right;
  border-radius: 10%;
}

.prevBtn {
  float: left;
  border-radius: 10%;
}

.radLbl {
  margin: 1em;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

body {
  background-color: white;
}
