.key {
  float: right;
  display: inline-block;
}

.key div {
  height: 12px;
  width: 12px;
}

#colour1 {
  background-color: red;
}

#colour2 {
  background-color: blue;
}

svg {
  padding-right: 1.5em;
}

.y-label {
  z-index: 2;
}
