#mturk {
  display: none;
  background-color: $primary-hex;
  border-color: $secondary-hex;
  color: white;
  padding: 50px;
  margin-top: 2em;
  border-radius: 8%;
}

@media(min-width: 500px){
  #mturk {
    margin-left: 27%;
  }
  textarea {
    width: 350px;
  }
}

#fbErrText {
  display: none;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
};
