@media(min-width: 500px){
  textarea {
    width: 350px;
  }
}

#fbErrText {
  display: none;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
};
